{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "useBuiltIns": "entry"
        "targets": {
          "browsers": ["last 2 versions", {"modules": false}]
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
